.sass-cache/
*.css.map
*.sass.map
*.scss.map
settings.py

venv/
.idea/
node_modules/
auth.json
serviceAccountKey.json
settings.py
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
