.sign-up {
    font-size: 100px;
    color: #778899;
    width: 250px;
    margin: auto;
    display: block;
}

.flex-id {
    display: flex;
    flex-direction: column;
    align-items: center;

}

input {
    width: 400px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: silver solid 2px;
}

.border {
    width: 400px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: #E0FFFF solid 5px;
    margin-top: 40px;
    background-color: #00FFFF;

}

.steps {
    margin: auto;
    display: block;
}

.up1 {
    width: 100px;
    height: 30px;
    border: #7FFFD4 solid 2px;
    border-radius: 5px;
    background-color: #7FFFD4;
}

.flex-two {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}
a,
a:hover,
a:visited {
  color: black;
  text-decoration: none;
  display: block;
}
.update {
    padding: 10px;
    width: 20%;
    min-width: 275px;
    height: 20px;
    background: rgba(255,255,255, 0.2);
    color: rgba(255, 255, 255, 1);
    margin-top: 10px;
    transition: all .2s ease-out;
}
.failure {
    background-color: rgba(255, 0 ,0 , 0.6);
}
.success{
    background: rgba(0, 255 ,0 , 0.6) ;
}


