.cover1 {
    margin: 20px auto 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    min-width: 500px;
    justify-content: space-between;
    /*border:1px dotted #FF00FF;*/
}

img {
    width: 290px;
    height: 290px;

}


.price {
    color: mediumvioletred;
}

.review2 {
    color: blue;
}

.long {
    width: 380px; /* 가로 길이 고정*/
    text-overflow: ellipsis; /* 생략 처리 ( ... )*/
    white-space: nowrap; /* 줄바꿈 하지 않고 잘림*/
    overflow: hidden; /* 스크롤 처리 하지 않음*/
}

.banner {
    margin: 50px auto 50px auto;
    width: 50%;
    height: 670px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner2 {
    margin:auto;
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.all-banner {
    width: 100%;
    height: 700px;
    border-radius: 0px;
    margin: 0px;
    background: linear-gradient(90deg, #3498db 50% ,#ffffff 50%);

}
.

