<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="we are penguins!">
    <meta property="og:image" content="">
    <meta property="og:description" content="5주차 맨 마지막 강의에서 og태그를 다룹니다">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="shortcut icon" href="../static/favi.png">

        <title>템플릿 인덱스</title>
<!-- 파비콘 -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="../tailwind.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="../static/move.js"></script>

<!-- 폰트랑 아이콘 -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          rel="stylesheet"/>


<!-- 스타일 -->

</head>

<style>
        .Middle{
            margin: auto;
            display: flex;

        }
        .Middle2 {
            margin: 10px auto;
            display: flex;

        }
        .color {
            background-color: dodgerblue;
              font-size: 35px;
        }
        .color2{
            background-color: white;
        }
        .color3{
            background-color: skyblue;
        }
        .font{
            font-size: 100px;
            color: white;
            width: 500px;
            margin: auto;

        }

</style>


<!--bg-green-100-->
<body class=" color3 ">
<header class="sticky top-0 z-50 bg-green-600 shadow-sm" x-data="{ open: false }">
    <div class="container px-4 py-2 flex flex-row">

      <!-- 로고 -->
            <div class="cursor-pointer left-0" onclick="home();">

             <img id="logo" class="object-contain h-14 mr-3" src="..\static\LOGO-001.png" />
      </div>
 <!-- 아이콘 기능 사이트 https://fontawesome.com/v4.7/icons/ -->


<div class="flex">
      <button class="bg-green-400 hover:bg-green-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center" x-on:click="open = ! open" onclick="star();">
        <span class="text-xl text-gray-100"><i class="fa fa-arrow-circle-down mr-1" aria-hidden="true"></i> star!</span>
      </button>

       <button class="bg-green-400 hover:bg-green-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center ml-2">
        <span class="text-xl text-gray-100" onclick="about();"><i class="fa fa-puzzle-piece mr-1" aria-hidden="true"></i>
        about us</span>
      </button>
</div>

  </header>
      <main>


<section>

 </section>
<!--                                                            bg-green-600-->
<h1 class="text-2xl md:text-2xl font-medium py-1 m-2 mb-4 my-4 pl-5 color rounded-md text-white">여기는 about!!</h1>

<hr class="m-2 border-8 border-white border-dashed">

      <!-- cards -->

          <iframe class = "Middle"  width="630" height="430" src="https://www.youtube.com/embed/XsX3ATc3FbA" title="YouTube video player" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


          <button class="bg-green-300 color2 p-4 Middle2" onclick="home();">홈으로가기!</button>
<!--출처: https://mjmjmj98.tistory.com/123 [Live passionate😎]-->

<hr class="m-2 border-8 border-white border-dashed">
      <!-- cards -->
          <h1 class="font">13조 화이팅!!</h1>

    <!-- footer -->

</body>
</html>