<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="we are penguins!">
    <meta property="og:image" content="">
    <meta property="og:description" content="5주차 맨 마지막 강의에서 og태그를 다룹니다">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="shortcut icon" href="../static/favi.png">

    <title>템플릿 인덱스</title>
    <!-- 파비콘 -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="../static/indexstyle.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="../static/move.js"></script>
    <!-- <script src="../static/ajaxfile.js" defer></script> -->
    <!-- <script src="../static/banner.js" defer></script> -->
    <script src="../static/loginajax.js" defer></script>
    <script src="../static/modal.js" defer></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <!-- 폰트랑 아이콘 -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          rel="stylesheet"/>


    <!-- 스타일 -->

</head>


<body class="bg-blue-200 overflow-x-hidden">

<main>

<div class="h-screen login bg-cover flex">
<div class="container mx-auto h-full flex flex-1 justify-center items-center">
    <div class="w-full max-w-lg">
      <div class="leading-loose">
        <form class="max-w-40 m-4 p-10 bg-white bg-opacity-40 rounded shadow-xl">
            <p class="text-white font-medium text-center text-3xl font-bold shadowFont">환영합니다!</p>
              <div class="">
                <label class="block text-sm text-white shadowFont" for="id">E-mail</label>
                <input id='id-input' class="w-full px-5 py-1 text-gray-700 bg-blue-200 bg-opacity-60 rounded focus:outline-none focus:bg-blue-100" type="id"  placeholder="아이디를 입력하세요" aria-label="id" required>
              </div>
              <div class="mt-2">
                <label class="block text-sm text-white shadowFont">비밀번호</label>
                 <input id='pw-input' class="w-full px-5 py-1 text-gray-700 bg-blue-200 bg-opacity-60 rounded focus:outline-none focus:bg-blue-100"
                  type="password" placeholder="비밀번호를 입력하세요" arial-label="password" required>
              </div>

              <div class="mt-4 items-center flex justify-between">
                <button class="inline-block left-0 align-baseline font-bold text-md text-white hover:text-blue-500 shadowFont"
                  onclick="register();">아이디가 없나요?</button>
              <button class="px-4 py-1 text-white font-bold text-xl tracking-wider bg-blue-400 hover:bg-blue-700 rounded-md uppercase shadowFont border-dashed border-white border-4" type="button" onclick="getlogin()">Login</button>    
              </div>
              <div class="text-center">
                <a href="https://spartacodingclub.kr/" class="inline-block mt-10 right-0 align-baseline font-light text-sm text-blue-600 hover:text-blue-400">
                    sponsored by sparta
                </a>
              </div>

        </form>

      </div>
    </div>
  </div>
</div>
<style>
  .login{
  background: url('https://user-images.githubusercontent.com/89088205/147875454-28c46585-33b1-40fb-ae32-cb82547df00a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

<!-- 모달 -->
 	<div class="main-modal fixed w-2/3 rounded-md inset-0 z-50 m-auto flex justify-center items-center animated fadeIn faster" style="background: rgba(0,0,0,.7);">
    <div class="bg-blue-200 w-full h-auto rounded-md pt-8 pb-12 px-10 mb-3 flex flex-col items-center">
        <label class="font-light text-3xl mb-3"><span class= "text-blue-700 ">13조</span><span class="font-thin text-xl"></span><span class="font-bold"><br>login</span></label>
        <form methods = "get">
        <input type="id" name="id" class="w-full h-11 rounded-md px-4 m-2" placeholder="아이디"/>
        <input type="password" name="password" class="w-full h-11 rounded-md px-4 m-2" placeholder="비밀번호"/>
        <button type="submit" class="w-full h-12 rounded-lg bg-blue-400  uppercase font-semibold hover:bg-blue-600 text-gray-100 transition m-2" >Login</button>
        <button onclick="modalClose('main-modal')" class="w-full py-2 mt-2 font-medium tracking-widest text-white uppercase bg-gray-500 shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none rounded-lg m-2">
				  취소
				</button>
        <span class="cursor-pointer text-right text-sm font-medium text-blue-500 underline mr-2" onclick="">회원가입하러가기</span>
        </form>
    </div>
</div>
        <div class="another-modal">
                    </div>

    <!-- footer -->
</main>

</body>
</html>