<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="we are penguins!">
    <meta property="og:image" content="">
    <meta property="og:description" content="5주차 맨 마지막 강의에서 og태그를 다룹니다">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="shortcut icon" href="../static/favi.png">

    <title>템플릿 인덱스</title>
    <!-- 파비콘 -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="../static/indexstyle.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="../static/move.js"></script>
    <script src="../static/ajaxfile.js" defer></script>
    <script src="../static/banner.js" defer></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <!-- 폰트랑 아이콘 -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          rel="stylesheet"/>


    <!-- 스타일 -->

</head>


<body class="bg-blue-200 overflow-x-hidden">

<!-- 이렇게 바디와 메인 사이에 있는 헤더태그를 접어서 복사해서 이동! -->
<header class="sticky top-0 z-50 bg-blue-600 shadow-sm" x-data="{ open: false }">
    <div class="container px-4 py-2 flex flex-row">

      <!-- 로고 -->
            <div class="cursor-pointer left-0" onclick="home();">

             <img id="logo" class="object-contain h-14 mr-3" src="..\static\LOGO-001.png" />
      </div>
 <!-- 아이콘 기능 사이트 https://fontawesome.com/v4.7/icons/ -->


<div class="flex">
      <button class="bg-blue-400 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center" x-on:click="open = ! open" onclick="star();">
        <span class="text-xl text-gray-100"><i class="fa fa-arrow-circle-down mr-1" aria-hidden="true"></i> star</span>
      </button>

       <button class="bg-blue-400 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center ml-2">
        <span class="text-xl text-gray-100" onclick="about();"><i class="fa fa-puzzle-piece mr-1" aria-hidden="true"></i>
        about us</span>
      </button>

      <button class="bg-blue-400 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center ml-2" x-on:click="open = ! open">
        <span class="text-xl text-gray-100 transition transform hover:scale-110 duration-200 ease-in-out"><i class="fa fa-arrow-circle-down mr-1 animate-bounce" aria-hidden="true"></i> login</span>
      </button>      
</div>

    </div>

           <aside x-show="open" 
class="animate__animated animate__fadeInLeft w-full relative z-0 flex-shrink-0 px-0 bg-blue-300 sm:block container p-3 rounded-tr-full">
<div class="w-full h-auto flex items-center justify-center">
    <div class="w-full h-auto rounded-md pt-8 pb-12 mb-3 flex flex-col items-center">
        <label class="font-light text-3xl mb-3"><span class= "text-blue-700 ">13조</span><span class="font-thin text-xl"> 신년프로젝트</span><span class="font-bold"><br>로그인을 구현해봅시다!</span></label>
        <form>
        <input type="email" name="email" class="w-full h-11 rounded-md px-4 mb-2" placeholder="아이디"/>
        <input type="password" name="password" class="w-full h-11 rounded-md px-4 mb-2" placeholder="비밀번호"/>
        <button type="submit" class="w-full h-12 rounded-lg bg-blue-400  uppercase font-semibold hover:bg-blue-600 text-gray-100 transition mb-2" >Login</button>
        <button class="w-full h-12 rounded-lg bg-blue-200 text-gray-150 uppercase font-semibold hover:bg-blue-500 text-gray-100 transition mb-2">Sign with kakao</button>
        <p class="cursor-pointer text-right text-sm font-medium text-blue-500 underline mr-2 flex justify-end" onclick="">회원가입하기</p>
        </form>
    </div>
</div>
          </aside>



  </header>

<main>
    <section class="flex flex-row p-10 flex-wrap">
    <div class="flex flex-col items-center justify-center max-w-sm mx-auto w-full md:w-1/2 mb-3 rota1">
        <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md" style="background-image: url(https://user-images.githubusercontent.com/89088205/147632343-ce94bab0-5722-437c-8896-0d71f7b829af.jpg)"></div>

        <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800 rota2">
            <h3 class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase dark:text-white">가랜드 (고정배너)</h3>
            
            <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
                <span class="font-bold text-gray-800 dark:text-gray-200 truncate">간단하게 벽장식!</span>
                <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-200 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">보러가기</button>
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center justify-center max-w-sm mx-auto w-full md:w-1/2 mb-3 rota1">
        <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md" style="background-image: url(https://user-images.githubusercontent.com/89088205/147632395-62b683c5-55d6-47aa-9062-e17c7a6299a9.jpg)"></div>

        <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800 rota2">
            <h3 class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase dark:text-white">오르골 (고정배너)</h3>
            
            <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
                <span class="font-bold text-gray-800 dark:text-gray-200 truncate">잔잔한 감성 멜로디!</span>
                <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-200 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">보러가기</button>
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center justify-center max-w-sm mx-auto w-full md:w-1/2 mb-3 rota1">
        <div id="bana01" class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md" style="background-image: url(https://user-images.githubusercontent.com/89088205/147632343-ce94bab0-5722-437c-8896-0d71f7b829af.jpg)"></div>
        <div id="bana02" class="rota2">
        </div>
    </div>

    <div class="flex flex-col items-center justify-center max-w-sm mx-auto w-full md:w-1/2 mb-3 rota1">
        <div id="banana01" class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md" style="background-image: url()"></div>
        <div id="banana02" class="rota2">
        </div>
    </div>
            
    </section>


    <!-- cards -->
    <div class="all-banner box-content">
    <div  id="banner-box" class="banner w-6/8 md:w-4/6">

    </div>
</div>
    <h1 class="text-2xl md:text-2xl font-medium py-1 m-2 mb-4 my-4 pl-5 bg-blue-400 rounded-md text-white">올겨울 크리스마스를 따뜻하게! <span class="text-blue-200 cursor-pointer" onclick="star();">더보기 ></span></h1>
    <div class="cover1" id="gift-cards">

    </div>

    <!-- footer -->
</main>

<footer class="text-gray-600 body-font bg-gradient-to-b from-transparent to-blue-600">
  <div
    class="
      container
      px-5
      py-24
      mx-auto
      flex
      md:items-center
      lg:items-start
      md:flex-row md:flex-nowrap
      flex-wrap flex-col
    "
  >
    <div
      class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left"
    >
      <a
        href=""
        class="
          flex
          title-font
          font-medium
          items-center
          md:justify-start
          justify-center
          text-gray-900
        "
      >

        <span class="ml-3 text-xl">🐧 사전스터디 13조!</span>
      </a>
    </div>
    <div
      class="
        flex-grow flex flex-wrap
        md:pl-20
        -mb-10
        md:mt-0
        mt-10
        md:text-left
        text-center
      "
    >
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          개인회원
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >푸터도 이렇게</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >갖다쓸수 있어여</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >나중에 수정가능</a
            >
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          기업회원
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >단체 클래스 개강 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >크리에이터 커넥트 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >대관 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >contact us</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          문제가 있나요?
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >방명록</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >건의/신고</a
            >
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          빠른 링크
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Art</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Activity</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Books</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Events</a
            >
          </li>
        </nav>
      </div>
    </div>
  </div>




</footer>
</body>
</html>