<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="we are penguins!">
    <meta property="og:image" content="https://user-images.githubusercontent.com/89088205/147902985-b7066e81-2280-4f3e-82f4-e37ad8ab19ef.jpg">
    <meta property="og:description" content="놀러오세요, 펭귄의 숲!">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="shortcut icon" href="../static/favi.png">

    <title>크리스마스 크리스마스</title>
    <!-- 파비콘 -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="../static/indexstyle.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="../static/move.js"></script>
    <script src="../static/ajaxfile.js" defer></script>
    <script src="../static/like_delete.js" defer></script>
    <script src="../static/banner.js" defer></script>
    <script src="../static/modal.js" defer></script>
    <script src="../static/loginajax.js" defer></script>

    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <!-- 폰트랑 아이콘 -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          rel="stylesheet"/>


    <!-- 스타일 -->

</head>


<body class="bg-blue-200 overflow-x-hidden">

<!-- 이렇게 바디와 메인 사이에 있는 헤더태그를 접어서 복사해서 이동! -->
<header class="sticky top-0 z-50 bg-blue-600 shadow-sm" x-data="{openMenu:1}">
    <div class="container px-2 py-2 flex flex-row">

      <!-- 로고 -->
            <div class="cursor-pointer left-0" onclick="home();">

             <img id="logo" class="object-contain h-14 mr-3" src="..\static\LOGO-001.png" />
      </div>
 <!-- 아이콘 기능 사이트 https://fontawesome.com/v4.7/icons/ -->


<div class="flex">
      <button class="bg-blue-400 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center" @click="openMenu !== 2 ? openMenu = 2 : openMenu = null">
        <span class="text-xl text-gray-100"><i class="fa fa-gift mr-1" aria-hidden="true"></i> star</span>
      </button>

       <!-- <button class="bg-blue-400 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center ml-2">
        <span class="text-xl text-gray-100" onclick="about();"><i class="fa fa-puzzle-piece mr-1" aria-hidden="true"></i>
        about us</span>
      </button> -->

      <button class="bg-blue-400 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center ml-2" @click="openMenu !== 3 ? openMenu = 3 : openMenu = null">
        <span class="text-xl text-gray-100 transition transform hover:scale-110 duration-200 ease-in-out"><i class="fa fa-arrow-circle-down mr-1 animate-bounce" aria-hidden="true"></i> profile</span>
      </button>      
</div>

    </div>

           <aside x-show="openMenu ==  2"
class="animate__animated animate__fadeInLeft w-full relative z-0 flex-shrink-0 px-0 bg-blue-300 sm:block container p-3 rounded-tr-full">
<div class="flex">
<div class="flex flex-col md:flex-row w-66 ml-6 ">
   
    
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick="star();">다 보기</button>
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick="star();">garland</button>
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick=" star();">musicBox</button>
</div>
<div class="flex flex-col md:flex-row w-66 ml-4">
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl md:l" onclick="star();" >candle</button>
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick="star();">dolls</button>
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick="star();">lights</button>
</div>
</div>
          </aside>

           <aside x-show="openMenu ==  3"
class="animate__animated animate__fadeInLeft w-full relative z-0 flex-shrink-0 px-0 bg-blue-300 sm:block container p-3 rounded-tr-full">
		<div class="max-w-3xl w-full mx-auto z-10">
		<div class="flex flex-col">
			<div class="bg-white border border-white shadow-lg  rounded-3xl p-4 m-4">
				<div class="flex-none sm:flex">
					<div class=" relative h-32 w-32 sm:mb-0 mb-3">
						<img src="https://user-images.githubusercontent.com/89088205/147632395-62b683c5-55d6-47aa-9062-e17c7a6299a9.jpg" alt="" class=" w-32 h-32 object-cover rounded-2xl">
						<a href="#"
							class="absolute -right-2 bottom-2 -ml-3 text-white p-1 text-xs bg-blue-400 hover:bg-blue-500 font-medium tracking-wider rounded-full transition ease-in duration-300">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
								class="h-4 w-4">
								<path
									d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
								</path>
							</svg>
						</a>
					</div>
					<div class="flex-auto sm:ml-5 justify-evenly">
						<div class="flex items-center justify-between sm:mt-2">
							<div class="flex items-center">
								<div class="flex flex-col">
									<div class="w-full flex-none text-lg text-gray-800 font-bold leading-none">111@111.com</div>
									<div class="flex-auto text-gray-500 my-1">
										<span class="mr-3 ">마다가스카의 산타</span><span class="mr-3 border-r border-gray-200  max-h-0"></span><span>lv.01</span>
									</div>
								</div>
							</div>
						</div>
						<div class="flex flex-row items-center">

							</div>

							<div class="flex pt-2  text-sm text-gray-500">
								<div class="flex-1 inline-flex items-center">
									<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20"
										fill="currentColor">
										<path
											d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z">
										</path>
									</svg>
									<p class="">카트에 담긴 상품 보기</p>
								</div>

								<button type="button" onclick="logout();" class="flex-no-shrink bg-blue-400 hover:bg-black px-5 py-2 mr-2 mt-5 text-md shadow-sm hover:shadow-lg font-medium tracking-wider  text-white rounded-md transition ease-in duration-300 uppercase">logout</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
          </aside>



  </header>

<main>
    <section id="banana" class="flex flex-row p-10 flex-wrap 2xl:flex-nowrap">
    
    </section>


    <!-- cards -->
    <div class="bg-blue-400 p-4">
    <div class="flex w-full lg:w-3/4 mx-auto bg-blue-300 p-4 rounded-lg py-10 flex-col justify-center items-center">
    <div>
    <h1 class="text-3xl text-white mb-2">최신 상품들을 구경하세요!</h1>
    <hr class="border-2 md:border-4 border-white">
    </div>
    <div id="banners" class="flex flex-wrap flex-row justify-center items-center spin"> </div>
</div>
</div>

    <h1 class="text-2xl md:text-2xl font-medium py-1 m-2 mb-4 my-4 pl-5 bg-blue-400 rounded-md text-white">올겨울 크리스마스를 따뜻하게! <span class="text-blue-200 cursor-pointer" onclick="star();">더보기 ></span></h1>

<section>
    <div class="flex flex-wrap flex-row justify-items-start mx-2 px-10 md:py-2" id="gift-cards">

    </div>
 </section>

<!-- 모달 -->
 	<div class="main-modal fixed w-full inset-0 z-50 flex justify-center items-center animated fadeIn faster overflow-auto" style="background: rgba(0,0,0,.7);">
		<div class="flex place-items-center">
			<div class="px-10 py-6 bg-white w-full rounded-md">
			<div class="font-bold capitalize mt-2 flex p-1 m-1">
            <span class= "text-blue-700 text-3xl">댓글창입니다!</span>
            </div>
        <div>
			  <div class="my-3 w-full flex flex-row">

				<textarea placeholder="바르고 고운말을 사용해주세요!" class="block w-3/4 p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" rows="2"> </textarea>
        <button type="submit" class="w-1/4 py-2 ml-2 mt-2 text-xl tracking-widest text-white uppercase bg-blue-300 shadow-lg focus:outline-none hover:bg-blue-500 hover:shadow-none rounded-lg" onclick="">
				  등록하기
				</button>
        </div>

        <table class="table-auto">
  <thead>
    <tr>
      <th>닉네임</th>
      <th>리뷰</th>
      <th>작성일</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>피카츄</td>
      <td>색감이 정말 예뻐요!</td>
      <td>2021.12.24</td>
    </tr>
    <tr>
      <td>라이츄</td>
      <td>크리스마스 분위기를 위해 구매했습니다.</td>
      <td>2021.12.20</td>
    </tr>
    <tr>
      <td>치코리타</td>
      <td>아이들이 좋아해요.</td>
      <td>2021.12.16</td>
    </tr>
  </tbody>
</table>

<div class="flex flex-row space-x-4 mt-3">
				<button type="submit" class="w-full py-2 mt-2 font-medium tracking-widest text-white uppercase bg-blue-300 shadow-lg focus:outline-none hover:bg-blue-500 hover:shadow-none rounded-xl" onclick="">
				  가입하기
				</button>
        <button onclick="modalClose('main-modal')" class="w-full py-2 mt-2 font-medium tracking-widest text-white uppercase bg-gray-500 shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none rounded-xl">
				  취소
				</button>
        </div>
			  </div>
                
			</div>
		  </div>
	</div>
        <div class="another-modal">
                    </div>

    <!-- footer -->
</main>

<footer class="text-gray-600 body-font bg-gradient-to-b from-transparent to-blue-600">
  <div
    class="
      container
      px-5
      py-24
      mx-auto
      flex
      md:items-center
      lg:items-start
      md:flex-row md:flex-nowrap
      flex-wrap flex-col
    "
  >
    <div
      class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left"
    >
      <a
        href=""
        class="
          flex
          title-font
          font-medium
          items-center
          md:justify-start
          justify-center
          text-gray-900
        "
      >

        <span class="ml-3 text-xl">🐧 사전스터디 13조!</span>
      </a>
    </div>
    <div
      class="
        flex-grow flex flex-wrap
        md:pl-20
        -mb-10
        md:mt-0
        mt-10
        md:text-left
        text-center
      "
    >
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          개인회원
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >푸터입니다</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >수고하셨습니다</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >새해복 많이 받으세요!</a
            >
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          항해 준비중
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >승선 완료!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >포켓몬 GO!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >펭귄의 숲</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >contact us</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          문제가 있나요?
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >방명록</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >건의/신고</a
            >
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          스터디 후기 한마디
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >재미있었어요!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >유익했습니다!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >열심히 했어요!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >우리가 해냈어요!</a
            >
          </li>
        </nav>
      </div>
    </div>
  </div>




</footer>
</body>
</html>