<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="we are penguins!">
    <meta property="og:image" content="">
    <meta property="og:description" content="5주차 맨 마지막 강의에서 og태그를 다룹니다">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="shortcut icon" href="../static/favi.png">

    <title>전체 상품 페이지</title>
    <!-- 파비콘 -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link href="../static/indexstyle.css" rel="stylesheet">    
    <script src="../static/move.js" defer></script>
    <script src="../static/modal.js" defer></script>
    <script src="../static/ajaxfile.js" defer></script>
    <script src="../static/allList.js" defer></script>
    <script src="../static/loginajax.js" defer></script>
    <script src="../static/like_delete.js" defer></script>


    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    
    <!-- 폰트랑 아이콘 -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          rel="stylesheet"/>


    <!-- 스타일 -->

</head>


<body class="bg-blue-100 overflow-x-hidden">

<header class="sticky top-0 z-50 bg-blue-600 shadow-sm" x-data="{ open: false }">
    <div class="container px-4 py-2 flex flex-row">

      <!-- 로고 -->
            <div class="cursor-pointer left-0" onclick="home();">

             <img id="logo" class="object-contain h-14 mr-3" src="..\static\LOGO-001.png" />
      </div>
 <!-- 아이콘 기능 사이트 https://fontawesome.com/v4.7/icons/ -->


<div class="flex">
      <button class="bg-blue-400 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center" x-on:click="open = ! open">
        <span class="text-xl text-gray-100 transition transform hover:scale-110 duration-200 ease-in-out"><i class="fa fa-arrow-circle-down mr-1 animate-bounce" aria-hidden="true"></i> star</span>
      </button>

       <button class="bg-blue-400 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center ml-2" onclick="about();">
        <span class="text-xl text-gray-100"><i class="fa fa-puzzle-piece mr-1" aria-hidden="true"></i>
        about us</span>
      </button>
</div>

    </div>

           <aside x-show="open" 
class="animate__animated animate__fadeInLeft w-full relative z-0 flex-shrink-0 px-0 bg-blue-300 sm:block container p-3 rounded-tr-full">
<div class="flex">
<div class="flex flex-col md:flex-row w-66 ml-6 ">
   
    
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick="getmarket('doll');">다 보기</button>
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick="getmarket('garland');">garland</button>
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick=" getmarket('musicbox');">musicBox</button>
</div>
<div class="flex flex-col md:flex-row w-66 ml-4">
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl md:l" onclick="getmarket('candle');" >candle</button>
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick="getmarket('doll');">dolls</button>
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick="getmarket('light');">lights</button>
</div>
</div>
          </aside>

  </header>

<section>

</section>

<main>
<hr class="m-2 border-8 border-white border-dashed">
<!-- cards -->
<div class="" id="cate"></div>
<!-- cards -->

    <div class="flex flex-wrap flex-row justify-items-start mx-2 px-10 md:py-2" id="gift-cards">

    </div>



</main>

<!-- 모달 -->
 	<div class="main-modal fixed w-full inset-0 z-50 flex justify-center items-center animated fadeIn faster overflow-auto" style="background: rgba(0,0,0,.7);">
		<div class="flex place-items-center">
			<div class="px-10 py-6 bg-white w-full rounded-md">
			<div class="font-bold capitalize mt-2 flex p-1 m-1">
            <span class= "text-blue-700 text-3xl">댓글창입니다!</span>
            </div>
        <div>
			  <div class="my-3 w-full flex flex-row">

				<textarea placeholder="바르고 고운말을 사용해주세요!" class="block w-3/4 p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" rows="2"> </textarea>
        <button type="submit" class="w-1/4 py-2 ml-2 mt-2 text-xl tracking-widest text-white uppercase bg-blue-300 shadow-lg focus:outline-none hover:bg-blue-500 hover:shadow-none rounded-lg" onclick="">
				  등록하기
				</button>
        </div>

        <table class="table-auto">
  <thead>
    <tr>
      <th>닉네임</th>
      <th>리뷰</th>
      <th>작성일</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>피카츄</td>
      <td>색감이 정말 예뻐요!</td>
      <td>2021.12.24</td>
    </tr>
    <tr>
      <td>라이츄</td>
      <td>크리스마스 분위기를 위해 구매했습니다.</td>
      <td>2021.12.20</td>
    </tr>
    <tr>
      <td>치코리타</td>
      <td>아이들이 좋아해요.</td>
      <td>2021.12.16</td>
    </tr>
  </tbody>
</table>

<div class="flex flex-row space-x-4 mt-3">
				<button type="submit" class="w-full py-2 mt-2 font-medium tracking-widest text-white uppercase bg-blue-300 shadow-lg focus:outline-none hover:bg-blue-500 hover:shadow-none rounded-xl" onclick="">
				  가입하기
				</button>
        <button onclick="modalClose('main-modal')" class="w-full py-2 mt-2 font-medium tracking-widest text-white uppercase bg-gray-500 shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none rounded-xl">
				  취소
				</button>
        </div>
			  </div>
                
			</div>
		  </div>
	</div>
        <div class="another-modal">
                    </div>



<!-- footer -->
<footer class="text-gray-600 body-font bg-gradient-to-b from-transparent to-blue-600">
  <div
    class="
      container
      px-5
      py-24
      mx-auto
      flex
      md:items-center
      lg:items-start
      md:flex-row md:flex-nowrap
      flex-wrap flex-col
    "
  >
    <div
      class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left"
    >
      <a
        href=""
        class="
          flex
          title-font
          font-medium
          items-center
          md:justify-start
          justify-center
          text-gray-900
        "
      >

        <span class="ml-3 text-xl">🐧 사전스터디 13조!</span>
      </a>
    </div>
    <div
      class="
        flex-grow flex flex-wrap
        md:pl-20
        -mb-10
        md:mt-0
        mt-10
        md:text-left
        text-center
      "
    >
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          개인회원
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >푸터입니다</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >수고하셨습니다</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >새해복 많이 받으세요!</a
            >
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          항해 준비중
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >승선 완료!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >포켓몬 GO!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >펭귄의 숲</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >contact us</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          문제가 있나요?
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >방명록</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >건의/신고</a
            >
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          스터디 후기 한마디
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >재미있었어요!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >유익했습니다!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >열심히 했어요!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >우리가 해냈어요!</a
            >
          </li>
        </nav>
      </div>
    </div>
  </div>




</footer>

</body>
</html>