<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="we are penguins!">
    <meta property="og:image" content="">
    <meta property="og:description" content="5주차 맨 마지막 강의에서 og태그를 다룹니다">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="shortcut icon" href="../static/favi.png">

    <title>전체 상품 페이지</title>
    <!-- 파비콘 -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link href="../static/indexstyle.css" rel="stylesheet">    
    <script src="../static/move.js" defer></script>
    <script src="../static/modal.js" defer></script>
    <script src="../static/ajaxfile.js" defer></script>
    <script src="../static/allList.js" defer></script>
    <script src="../static/loginajax.js" defer></script>
    <script src="../static/like_delete.js" defer></script>


    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    
    <!-- 폰트랑 아이콘 -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          rel="stylesheet"/>


    <!-- 스타일 -->

</head>


<body class="overflow-x-hidden bg-blue-100">

<header class="sticky top-0 z-50 bg-blue-600 shadow-sm" x-data="{ open: false }">
    <div class="container flex flex-row px-4 py-2">

      <!-- 로고 -->
            <div class="left-0 cursor-pointer" onclick="home();">

             <img id="logo" class="object-contain mr-3 h-14" src="..\static\LOGO-001.png" />
      </div>
 <!-- 아이콘 기능 사이트 https://fontawesome.com/v4.7/icons/ -->


<div class="flex">
      <button class="flex items-center px-4 py-2 font-bold uppercase bg-blue-400 rounded hover:bg-blue-300 xl:px-6 xl:py-3 flex-shrink-1" x-on:click="open = ! open">
        <span class="text-xl text-gray-100 transition duration-200 ease-in-out transform hover:scale-110"><i class="mr-1 fa fa-arrow-circle-down animate-bounce" aria-hidden="true"></i> category</span>
      </button>

       <button class="flex items-center px-4 py-2 ml-2 font-bold uppercase bg-blue-400 rounded hover:bg-blue-300 xl:px-6 xl:py-3 flex-shrink-1" onclick="about();">
        <span class="text-xl text-gray-100"><i class="mr-1 fa fa-puzzle-piece" aria-hidden="true"></i>
        about us</span>
      </button>
</div>

    </div>

           <aside x-show="open" 
class="container relative z-0 flex-shrink-0 w-full p-3 px-0 bg-blue-300 rounded-tr-full animate__animated animate__fadeInLeft sm:block">
<div class="flex">
<div class="flex flex-col ml-6 md:flex-row w-66 ">
   
    
<button class="p-1 px-2 mb-2 mr-5 font-extrabold text-white bg-blue-400 border-4 border-dashed rounded-md shadow-inner border-blue-50 md:text-xl" onclick="getmarket('garland');">garland</button>
<button class="p-1 px-2 mb-2 mr-5 font-extrabold text-white bg-blue-400 border-4 border-dashed rounded-md shadow-inner border-blue-50 md:text-xl" onclick="getmarket('dolls');">dolls</button>
<button class="p-1 px-2 mb-2 mr-5 font-extrabold text-white bg-blue-400 border-4 border-dashed rounded-md shadow-inner border-blue-50 md:text-xl" onclick=" getmarket('musicbox');">musicBox</button>
</div>
<div class="flex flex-col ml-4 md:flex-row w-66">
<button class="p-1 px-2 mb-2 mr-5 font-extrabold text-white bg-blue-400 border-4 border-dashed rounded-md shadow-inner border-blue-50 md:text-xl md:l" onclick="getmarket('candle');" >candle</button>
<button class="p-1 px-2 mb-2 mr-5 font-extrabold text-white bg-blue-400 border-4 border-dashed rounded-md shadow-inner border-blue-50 md:text-xl" onclick="getmarket('light');">lights</button>
<button class="p-1 px-2 mb-2 mr-5 font-extrabold text-white bg-blue-400 border-4 border-dashed rounded-md shadow-inner border-blue-50 md:text-xl" onclick="getmarket();">see all</button>
</div>
</div>
          </aside>

  </header>

<section>

</section>

<main>
<hr class="m-2 border-8 border-white border-dashed">
<!-- cards -->
<div class="" id="cate"></div>
<!-- cards -->

    <div class="flex flex-row flex-wrap px-10 mx-2 justify-items-start md:py-2" id="gift-cards">

    </div>



</main>

<!-- 모달 -->
 	<div class="fixed inset-0 z-50 flex items-center justify-center w-full overflow-auto main-modal animated fadeIn faster" style="background: rgba(0,0,0,.7);">
		<div class="flex place-items-center">
			<div class="w-full px-10 py-6 bg-white rounded-md">
			<div class="flex p-1 m-1 mt-2 font-bold capitalize">
            <span class= "text-3xl text-blue-700">댓글창입니다!</span>
            </div>
        <div>
			  <div class="flex flex-row w-full my-3">

				<textarea placeholder="바르고 고운말을 사용해주세요!" class="block w-3/4 p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" rows="2"> </textarea>
        <button type="submit" class="w-1/4 py-2 mt-2 ml-2 text-xl tracking-widest text-white uppercase bg-blue-300 rounded-lg shadow-lg focus:outline-none hover:bg-blue-500 hover:shadow-none" onclick="">
				  등록하기
				</button>
        </div>

        <table class="table-auto">
  <thead>
    <tr>
      <th>닉네임</th>
      <th>리뷰</th>
      <th>작성일</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>피카츄</td>
      <td>색감이 정말 예뻐요!</td>
      <td>2021.12.24</td>
    </tr>
    <tr>
      <td>라이츄</td>
      <td>크리스마스 분위기를 위해 구매했습니다.</td>
      <td>2021.12.20</td>
    </tr>
    <tr>
      <td>치코리타</td>
      <td>아이들이 좋아해요.</td>
      <td>2021.12.16</td>
    </tr>
  </tbody>
</table>

<div class="flex flex-row mt-3 space-x-4">
				<button type="submit" class="w-full py-2 mt-2 font-medium tracking-widest text-white uppercase bg-blue-300 shadow-lg focus:outline-none hover:bg-blue-500 hover:shadow-none rounded-xl" onclick="">
				  가입하기
				</button>
        <button onclick="modalClose('main-modal')" class="w-full py-2 mt-2 font-medium tracking-widest text-white uppercase bg-gray-500 shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none rounded-xl">
				  취소
				</button>
        </div>
			  </div>
                
			</div>
		  </div>
	</div>
        <div class="another-modal">
                    </div>



<!-- footer -->
<footer class="text-gray-600 body-font bg-gradient-to-b from-transparent to-blue-600">
  <div
    class="container flex flex-col flex-wrap px-5 py-24 mx-auto  md:items-center lg:items-start md:flex-row md:flex-nowrap"
  >
    <div
      class="flex-shrink-0 w-64 mx-auto text-center md:mx-0 md:text-left"
    >
      <a
        href=""
        class="flex items-center justify-center font-medium text-gray-900  title-font md:justify-start"
      >

        <span class="ml-3 text-xl">🐧 사전스터디 13조!</span>
      </a>
    </div>
    <div
      class="flex flex-wrap flex-grow mt-10 -mb-10 text-center  md:pl-20 md:mt-0 md:text-left"
    >
      <div class="w-full px-4 lg:w-1/4 md:w-1/2">
        <h2
          class="mb-3 text-sm font-medium tracking-widest text-gray-900  title-font"
        >
          개인회원
        </h2>
        <nav class="mb-10 list-none">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >푸터입니다</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >수고하셨습니다</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >새해복 많이 받으세요!</a
            >
          </li>

        </nav>
      </div>
      <div class="w-full px-4 lg:w-1/4 md:w-1/2">
        <h2
          class="mb-3 text-sm font-medium tracking-widest text-gray-900  title-font"
        >
          항해 준비중
        </h2>
        <nav class="mb-10 list-none">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >승선 완료!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >포켓몬 GO!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >펭귄의 숲</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >contact us</a
            >
          </li>
        </nav>
      </div>
      <div class="w-full px-4 lg:w-1/4 md:w-1/2">
        <h2
          class="mb-3 text-sm font-medium tracking-widest text-gray-900  title-font"
        >
          문제가 있나요?
        </h2>
        <nav class="mb-10 list-none">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >방명록</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >건의/신고</a
            >
          </li>

        </nav>
      </div>
      <div class="w-full px-4 lg:w-1/4 md:w-1/2">
        <h2
          class="mb-3 text-sm font-medium tracking-widest text-gray-900  title-font"
        >
          스터디 후기 한마디
        </h2>
        <nav class="mb-10 list-none">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >재미있었어요!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >유익했습니다!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >열심히 했어요!</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >우리가 해냈어요!</a
            >
          </li>
        </nav>
      </div>
    </div>
  </div>




</footer>

</body>
</html>